/* Write your CSS code here */
.CryptocurrenciesList-main-heading {
  color: #00e7ff;
}
.CryptocurrenciesList-main-table {
  width: 100%;
  border: 2px solid #00e7ff;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 0 10px; */
}
.CryptocurrenciesList-main-table th,
td {
  justify-content: space-between;
  width: 100px;
}
.CryptocurrenciesList-main-table-type {
  width: 50%;
}
.CryptocurrenciesList-main-table-icon {
  height: 30px;
}
.CryptocurrenciesList-main-table-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
}
.table-heading {
  background-color: #092e33;
  padding: 0 10px;
}
